body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 245, 240);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7ad984;
    font-family: "Changa One", sans-serif;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding-left: 50px;
}

.logo-section img {
    width: 90px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.link-nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

nav a {
    padding: 5px;
    text-decoration: none;
    font-size: larger;
    color: white;
    position: relative;
    transition: all 0.2s ease-in-out;
}

nav a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 1px;
    transition: 0.5s;
}

nav a:hover {
    color: antiquewhite;
}

nav a:hover::after {
    width: 100%;
    background-color: antiquewhite;
}

nav .dot {
    color: white;
    font-size: small;
    padding: 15px;
}

main {
    padding-left: 17vw;
    padding-right: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-info-section {
    padding: 15px;
}

.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.source-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: large;
}

.source-section a {
    color: #008b8b;
    text-decoration: none;
    font-size: large;
}

p {
    text-align: justify;
    font-size: 16pt;
    text-indent: 36pt;
}

h1 {
    color: #008b8b;
    font-family: "Changa One", sans-serif;
}

.title {
    width: 100%;
    text-align: left;
}

table {
    height: 40vh;
    width: 75vh;
}


td {
    border-bottom: solid lightgray 2px;
}

.table-title {
    font-weight: bold;
}

.table-info {
    text-align: end;
}


figure {
    width: 350px;
    /* Propriedade para fazer com que o texto fique a esquerda de uma imagem */
    float: right;
    padding: 10;
}

figcaption {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: gray;
}

figure img {
    width: 360px;
    height: 240px;
    border-radius: 15px;
    border: 2px solid #7ad984;
}

footer {
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid #449e4d;
    height: 150px;
    background-color: #7ad984;
    color: white;
    font-family: "Changa One", sans-serif;
}